main{
    width: 75%;
    margin: auto;
    background-color: rgb(227, 227, 227);
    padding-bottom: 3em
}

header{
    width: ;
    text-align: center;
    padding: 1em;
    background-color:rgb(183, 183, 183) ;
}

#presentation{
    width: 75%;
    margin: auto;
    padding: 1em;
    font-size: 0.8em;
}

#pitch{
    width: 75%;
    margin: auto;
    padding: 1em;
    background-color: white;
}

#carouselReward{
    width: 75%;
    margin: auto;
}

.carousel-item {

  background-color: #222;
  color: white;
  padding: 3rem;
  min-height: 300px;
  text-align: center;
}

#game{
    width: 75%;
    margin: auto;
    padding: 1em;
    text-align: center;
    background-image: url(img/compost.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#game p{
    font-size: 2em;
    font-weight: bolder;
    color: red;
}